
.minitoc.folded p {
	transform: rotate(90deg);
	transform-origin: left top;
	padding: 0;
	position: fixed;
    top: 100px;
    left: calc(100% - 50px);
    white-space: nowrap;
	
}

.minitoc.folded p {
	padding-left: 20px;
	padding-right: 10px;
	
}

#minitoc.folded p.inThisPage {
	background-color: #016580;
color:#fff;
}


.minitoc.folded li {
	display:none
}


#minitoc.hideToc {
	display: none;
}

.minitoc {
	position:fixed;
	cursor: pointer;
	top:50px;
	right:0px;
	
	padding-left: 10px;
	padding-right: 10px;
}

.minitoc a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}
.minitoc li {
	list-style-type: none; 
}

.minitoc a:hover {
	text-decoration: underline;
}
#minitoc_root  ul {padding-left:20px}

#minitoc_root > ul {padding-left:0}

#minitoc li {
	margin-bottom: 4px;
	margin-top: 4px;
	line-height: 12px;
}
.outOfView {display:none}

/* using this to pass values from react to jquery */
.passValueFromReactToJquery {display:none} 


#minitoc.folded div#minitoc_root {
	display:none;
}



#minitoc span.openCloseIcon {
	background-color: #016580;
color:#fff;
border-radius:50%;
line-height: 0;
} 

#minitoc p.inThisPage {
	text-align: right;
	line-height:0;
	} 

#minitoc.folded p.inThisPage {
text-align: left;
line-height:24px;
} 

#minitoc.folded span.openCloseIcon {
	background-color: #fff;
	color:#016580;
	border-radius:50%;
	line-height: 0;
} 

#minitoc_root > ul 
{
/* background-color: #f3ece3; */
background-color: #016580;
color:#fff;
border: 1px solid #CCC;
padding: 3px; }


