.App {
  
}

.minitoc {
	position:fixed;

	top:0;
	right:0;
	background-color: #444;
	padding-left: 10px;
	padding-right: 10px;
}

.minitoc a {
	color: #ffffff;
	text-decoration: none;
}
.minitoc li {
	list-style-type: none; 
}

.minitoc a:hover {
	text-decoration: underline;
}

#minitoc_root  ul {padding-left:20px}

#minitoc_root > ul {padding-left:0}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
	padding-left: 10px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
